
body {
    color:#141415;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    min-height: 100vh;
    font-size: 20px;
}
   

footer {
    height: 300px;
    width: 100%;
    background-color:#042f4b;
    text-align: center;
    color: #fbc99d;
    line-height: 50px;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff6da;    
}

h1 {
    font-weight: 500;
    margin: 15px 0;
    text-shadow: -1px 0px #fd7792, 0px 1px #fd7792, 1px 0px #fd7792, 0px -1px #fd7792;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #FDDFE7;
   
}


h2 { 
    background-color: #ed1250;
    color: #fff6da;
    align-self: center;
    display: inline-block;
    border-radius: 5px;
}

h4 {
    margin: 0px;
    font-size: 20px;
    color: #FDDFE7;
} 

h5 { 
    color: #ed1250;
    align-self: center;
    margin: 0%;

}


/*** Header ***/

header {
    background-image: url(assets/hero\ image.jpg);
    background-color:#fbc99d;
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fffdf9;
    position: relative;
    font-weight: bold;
    font-size: 25px;

}

.title {
    position: absolute;
    bottom: 0px;
    left: 25px;

}

.title .icon {
    padding: 5px;
    height: 50px;
    margin-top: 20px;
}


.profile-img {
    height: 200px;
    width: 200px;
    border-style: solid ;
    border-radius: 50%;
    position: absolute;
    bottom: -45px;
    right: 200px;
} 




#summary-section,
#tech-section,
#featured-projects-section,
#other-projects-section,
#my-thoughts-section,
#skills-section {
    width: auto;
    padding: 20px;
    align-self: center;
}

/*** SUMMARY SECTION ***/

#summary-section {
    background-color:#fbc99d;
} 

.pitch-div {
    display: flex;
    flex-direction: unset;
    justify-content: center;
}

 .my-pitch {
   line-height: 30px;
   width: 60%;
   text-align: center;
   margin-top: 25px;
   
} 

/*** TECH SECTION ***/


#tech-section {
    width: 70%;
    text-align: center;
}

/*** FEATURED SECTION ***/

#featured-projects-section {
    background-color:#fbc99d;
    display: flex;
    flex-direction: column;
    height: auto;
} 

.cards-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}   

.project-card {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 300px;
    margin: 10px 10px;
}  
 

.card-img {
    height: 200px;
    width: 300px;

} 


figure {
    margin: 0px;
    position: relative;
}

.project-card figcaption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color:#042f4b ;
    background-color:#ececeb;
    border-radius: 10px;
    padding: 5px;
}    



.project-description {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    font-size: 15px;
    column-gap: 5px;
    margin-top: 20px;
   
} 


.project-card-info {
    line-height: 30px;
    
} 


.test{
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-description div {
    background-color:#ed125062;
    border:  #ed1250 1px solid; 
    margin: 0%;
    padding: 0px 5px;
    color:#042f4b;
    text-align: center;
    border-radius: 5px;
}   



/*** OTHER PROJECTS SECTION ***/

#other-projects-section {  
    display: flex;
    flex-direction: column;
    height: auto;
} 

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: #042f4b;
  }
  
  a:hover {
    text-decoration: underline;
    color: #ed1250;
  }
  
  a:active {
    text-decoration: underline;
  } 


  .other-projects-info .project-description {
      display: block;
      margin-bottom: 20px;

}

  .other-projects .project-description div {
    display: inline-block;
    border:  #ed1250 1px solid;
    margin: 0%;
    width: fit-content;

  }
/*** MY THOUGHTS SECTION ***/

#my-thoughts-section {
    display: flex;
    flex-direction: column;
    background-color:#fbc99d; 

}  
  
.my-thoughts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;

} 

.article-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width:auto;
    max-width: 500px;

}

.article-img {
    height: 200px;
    width: 300px;

}    

.article-caption {
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}


/*** SKILLS SECTION ***/

#skills-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    
} 

.skills-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    line-height: 40px;
}
 

























